/*
 * Copyright (C) 2022 AgoraSMP Team
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http: *www.gnu.org/licenses/>.
 */

/*TODO extract common parts into base.css */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(247, 166, 0);
}

.centerbox {
  background-color: white;
  border-color: lightgray;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  margin-bottom: 10px;
}
.form-error {
  text-align: start;
}
.form-signup {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}
.form-group {
  text-align: start;
}
label {
  font-size: .8em;
}
.form-spaced label:not(:first-child) {
  margin-top: 1rem;
}
.form-spaced ul {
  margin-bottom: 0;
}
