/*
 * Copyright (C) 2022 AgoraSMP Team
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http: *www.gnu.org/licenses/>.
 */

/* Generated using https://google-webfonts-helper.herokuapp.com/fonts
   by Mario Ranftl */

/* source-sans-pro-300 - latin-ext_latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  
  /* source-sans-pro-regular - latin-ext_latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  
  /* source-sans-pro-italic - latin-ext_latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-italic.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  
  /* source-sans-pro-700 - latin-ext_latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/thirdparty/source-sans-pro-v18/source-sans-pro-v18-latin-ext_latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
  }
  