/*
 * Copyright (C) 2022 AgoraSMP Team
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http: *www.gnu.org/licenses/>.
 */
form .btn-primary {
  background-color: rgb(247, 166, 0);
  border-color: rgb(247, 166, 0);
}

form .btn-primary:hover {
  background-color: rgb(229, 153, 0);
  border-color: rgb(229, 153, 0);
}

form .btn-primary:focus {
   background-color: rgb(229, 153, 0);
   border-color: rgb(229, 153, 0);
}
