/*
 * Copyright (C) 2022 AgoraSMP Team
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http: *www.gnu.org/licenses/>.
 */
header {
  z-index: 1071 !important;
  box-shadow: 0px 0px 10px 3px #ccc;
}

.navbar {
  background-color: rgb(247, 166, 0) !important;
}

.announcement-dismiss {
  top: inherit !important;
}

@media (min-width: 768px) {
  .navbar {
    min-height: 4rem;
  }
}

.sidenav {
  height: calc(100vh - 4rem);
  top: 4rem;
  border-right: 1px solid rgba(0,0,0,.1);
  background-color: #fbfbfb;
}

#sidenav-content {
  word-break: break-word;
}

.nav-link {
  color: grey;
}

.nav-link.active {
  color: black;
}

.event-buttons > div {
  padding-bottom: 8px;
  width: 100%;
}

.event-buttons a {
  width: 100%;
}

@media (min-width: 768px) {
  .event-buttons > div {
    width: inherit;
  }
}

.navbar-dark .navbar-nav .force-active > .nav-link, .navbar-dark .navbar-nav .nav-link.force-active {
  color: #fff;
}

.modal.show {
  z-index: 1090 !important;
}

.modal-backdrop.show {
  z-index: 1080 !important;
}

.seminar-card:not(:last-child) {
  margin-bottom: 12px;
}
