{% extends "base.html" %}
{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'usermgr/css/auth.css' %}">

{% endblock %}

{% block bodyattrs %}class="text-center pt-sm-4 pb-sm-4"{% endblock %}

{% block content %}

<form method="post" action="{% url 'login' %}" class="form-signin border rounded d-grid">
  {% csrf_token %}
  <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="300" height="43">
  <h1 class="h3 mb-3 lead">Please sign in</h1>
  {% if next %}
  {% if user.is_authenticated %}
  <div class="alert alert-danger" role="alert">
    Your account doesn't have access to this page. To proceed,
    please login with an account that has access.
  </div>
  {% else %}
  {# <p>Please login to see this page.</p> #}
  {% endif %}
  {% endif %}
  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    Your username and password didn't match. Please try again.
  </div>
  {% endif %}
  <label for="{{ form.username.id_for_label }}" class="visually-hidden">{{ form.username.label }}</label>
  <input class="form-control" id="{{ form.username.id_for_label }}" maxlength="80" name="{{ form.username.html_name }}" type="text" autocomplete="username" required autofocus placeholder="User Name" />
  <label for="{{ form.password.id_for_label }}" class="visually-hidden">{{ form.password.label }}</label>
  <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="80" name="{{ form.password.html_name }}" type="password" autocomplete="password" required placeholder="Password" />
  <input value="Sign in" type="submit" class="btn btn-lg btn-primary">
  <input type="hidden" name="next" value="{{ next }}">

  <p class="mt-5 mb-3 text-muted"><a href="{% url 'password_reset' %}">Lost password?</a></p>
  <p class="mb-3 text-muted"><a href="{% url 'claim' %}">Sign up</a></p>

</form>

{% endblock %}
