{% extends "base.html" %}
{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'usermgr/css/claim.css' %}">

{% endblock %}

{% block bodyattrs %}class="text-center pt-sm-4 pb-sm-4"{% endblock %}

{% block content %}

<form method="post" action="{% url 'claim' %}" class="form-signin centerbox border rounded d-grid">
{% csrf_token %}
<img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="300" height="43">
<h1 class="h3 mb-3 lead">Please claim your account</h1>
<div class="alert alert-secondary" role="alert">
  Please enter the e-mail address you used to sign up to the SmP event, then check your inbox for instructions.
</div>
<label for="{{ form.email.id_for_label }}" class="visually-hidden">{{ form.email.label }}</label>
<input class="form-control {%if form.email.errors %}is-invalid{%endif%}" id="{{ form.email.id_for_label }}" maxlength="80" name="{{ form.email.html_name }}" type="email" required autofocus placeholder="Email address" {% if form.email.value %}value="{{ form.email.value }}"{% endif %}/>
{% if form.errors %}
<div class="form-error">
  {{ form.errors }}
</div>
{% endif %}
<input value="Claim my account" type="submit" class="btn btn-lg btn-primary">

<p class="mt-5 mb-3 text-muted"><a href="{% url 'login' %}">Already have an account?</a></p>

</form>

{% endblock %}
