{% extends "base.html" %}
{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'usermgr/css/claim.css' %}">

{% endblock %}

{% block bodyattrs %}class="text-center pt-sm-4 pb-sm-4"{% endblock %}

{% block content %}

<form method="post" action="{% url 'claim_token' token_value %}" class="form-signup centerbox d-grid">
{% csrf_token %}
<img class="mb-4 mx-auto" src="{% static 'img/logo.png' %}" alt="" width="300" height="43">
<h1 class="h3 mb-3 lead">Please fill in your details</h1>
{% if form.errors %}
<div class="alert alert-danger" role="alert">
  {{ form.errors }}
</div>
{% endif %}
<div class="row gx-2 text-start">
  <label for="givenname">First Name</label>
  <input class="form-control" id="givenname" maxlength="80" name="{{ form.given_name.html_name }}" type="text" required autofocus value="{{ form.given_name.value }}" />
</div>
<div class="row gx-2 text-start">
  <label for="surname">Last Name</label>
  <input class="form-control" id="surname" maxlength="80" name="{{ form.surname.html_name }}" type="text" required value="{{ form.surname.value }}" />
</div>
<div class="row gx-2 text-start">
  <label for="username">Username</label>
  <input class="form-control" type="text" id="username" readonly value="{{ username }}">
</div>
<div class="row gx-2 text-start">
  <label for="password">Password</label>
  <input type="password" class="form-control" name="{{ form.password.html_name }}" id="password" required>
  <div class="small mt-3">
    {{ passwd_rules }}
  </div>
  <label for="password_check">Password (repeat)</label>
  <input type="password" class="form-control" name="{{ form.password_check.html_name }}" id="password_check" required>
  <div class="invalid-feedback">Passwords need to match</div>
</div>
<div class="row gx-2 text-start">
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="agree-terms" required>
    <label class="form-check-label" for="agree-terms">I have read and understood the <a href="{% url 'terms' %}">Terms and Conditions</a></label>
  </div>
</div>
<button type="submit" class="btn btn-primary">Register my account</button>

</form>

{% endblock %}

{% block auxscript %}
<script src="{% static 'usermgr/js/pw_validate.js' %}"></script>
{% endblock %}
