{% extends "base.html" %}
{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% endblock %}

{% block content %}

<header class="sticky-top">
  {% include "navbar.html" with constrain=True %}
</header>
<div class="container-fluid">
  <div class="row justify-content-md-center mt-5">
    <div class="col-md-9 col-lg-7">
      <main role="main">
        <h3>Delete my account <a class="btn btn-sm btn-outline-success float-end" href="{% url 'index' %}" role="button">Cancel</a></h3>
        <div class="alert alert-danger mt-3">
          <span class="fa fa-exclamation-triangle me-2"></span>This action cannot be undone!
        </div>
        <p>If you delete your account on {{ BRAND }} then we will:
          <ul>
            <li>remove you from all (also ongoing) seminars and project groups</li>
            <li>withdraw your possible registrations for all future seminars</li>
            <li>permanently block your account in all connected apps</li>
            <li>delete your user-generated content that you have not shared with a workgroup</li>
            <li>log you out from Big Blue Button</li>
            <li>delete your user profile</li>
          </ul>
        </p>
        <p>We store an encrypted version of your username after deleting your account to prevent it from being reassigned.</p>
        <p>If you apply for a seminar again, you can create a new account. However, you will then receive a new user name.</p>
        <hr>
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.errors }}
        </div>
        {% endif %}
        <form method="post" action="{% url 'delete_account' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label" for="password">Confirm password:</label>
            <input type="password" class="form-control" name="{{ form.password.html_name }}" id="password" required>
          </div>
          <div class="mb-4">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" name="{{ form.agree.html_name }}" id="agree-deletion" required>
              <label class="form-check-label" for="agree-deletion">I understand the procedure for deleting my account and confirm that I would like to delete my account permanently.</label>
            </div>
          </div>
          <div class="d-grid mb-5">
            <button type="submit" class="btn btn-danger">Delete account</button>
          </div>
        </form>
      </main>
    </div>
  </div>
</div>

{% endblock %}
