{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load bbbbutton %}
<li class="list-group-item{% if event.muted %} text-muted{% endif %}">
  {% if event.multiday %}<strong>{{ event.start|date:"SHORT_DATETIME_FORMAT" }} – {{ event.end|date:"SHORT_DATETIME_FORMAT" }}: {{ event.name }}</strong>{% if event.multiday %}<span class="badge bg-info ms-2">multi-day event</span>{% endif %}
  {% else %}<strong>{{ event.start|date:"TIME_FORMAT" }} – {{ event.end|date:"TIME_FORMAT" }}: {{ event.name }}</strong>{% endif %}
  {{ event.description|linebreaks }}
  {% if event.buttons or event.meeting %}
  <div class="event-buttons mt-2">
  {% if event.meeting %}
    {% bbbbutton event.meeting user %}
  {% endif %}
  {% for button in event.buttons %}
    <div class="d-inline-flex pb-2"{% if button.is_future %} data-bs-toggle="tooltip" data-bs-placement="top" title="Verfügbar ab {{ button.start_date|date:"SHORT_DATETIME_FORMAT" }}"{% endif %}>
      {% if button.should_show_disclaimer %}
      <a class="btn btn-primary{% if button.is_available %}" data-bs-toggle="modal" data-bs-target="#disclaimerModal" data-link="{{ button.url }}" {% else %} disabled" {% endif %} href="#" role="button">{{ button.name }}<i class="icon ps-2 fa fa-globe"></i></a>
      {% else %}
      <a class="btn btn-primary{% if button.is_available %}" href="{{ button.url }}" {% if button.new_tab %}target="_blank"{% endif %}{% else %} disabled" href="#"{% endif %} role="button">{{ button.name }}</a>
      {% endif %}
    </div>
  {% endfor %}
  </div>
  {% endif %}
</li>
