{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
<div class="accordion-item">
  <h2 class="accordion-header" id="eventday-{{ forloop.counter }}">
    <button class="accordion-button{% if not day.today %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-e-{{ day.date|date:"Y-m-d" }}" aria-expanded="{% if day.today %}true{% else %}false{% endif %}" aria-controls="collapse-e-{{ day.date|date:"Y-m-d" }}">
      {# hacky way to prepend the week name but keep the localizable date format #}
      {{ day.date|date:"l" }}, {{ day.date|date:"DATE_FORMAT" }}{% if day.today %}<span class="badge bg-secondary ms-3">Today</span>{% endif %}
    </button>
  </h2>
  <div id="collapse-e-{{ day.date|date:"Y-m-d" }}" class="accordion-collapse collapse{% if day.today %} show{% endif %}" aria-labelledby="eventday-{{ day.date|date:"Y-m-d" }}" data-bs-parent="#events">
    <div class="accordion-body">
      <ul class="list-group list-group-flush">
        {% for event in day.events %}
          {% include 'usermgr/event_entry.html' %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
