{% extends 'modal.html' %}
{% comment %}
    Copyright (C) 2022 AgoraSMP Team

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, version 3.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block modal_heading %}You're leaving {{ BRAND }}{% endblock modal_heading %}
{% block modal_body %}
<p>This link will take you to <span id="disclaimer-link" class="text-break"></span>.</p>
<p>The linked site is not affiliated with {{ BRAND }}, nor is it governed by our data protection policy.
    {{ BRAND }} is not responsible for any content present or any data that is collected about you.</p>
{% endblock modal_body %}
{% block modal_cancel %}Stay here{% endblock modal_cancel %}
{% block modal_confirm %}I understand. Continue{% endblock modal_confirm %}