{% extends 'modal.html' %}
{% comment %}
    Copyright (C) 2022 AgoraSMP Team

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, version 3.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block modal_heading %}Confirm joining this workgroup{% endblock modal_heading %}
{% block modal_body %}
<p>You&#39;re joining the workgroup <span id="wgname" class="fw-bold"></span>.</p>
<p>Please note that after joining, only a moderator can undo your decision. By confirming,
    you commit to actively participating in this workgroup.</p>
{% endblock modal_body %}