{% extends "mainpage.html" %}
{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static %}
{% load bbbbutton %}

{% block title %}{{ BRAND }} - My Overview{% endblock %}

{% block nav %}
{% with sidenav_items=sections %}
{% include "simple_sidenav.html" %}
{% endwith %}
{% endblock %}

{% block main %}
<!-- seminar selection form -->
{% if seminar_items %}
<div class="row mb-4 mt-2">
  <div class="col-lg-8 col-xl-5">
    <h3 id="overview">My Overview <small class="text-muted d-md-none">{{ user.get_username }}</small></h3>
    <form id="seminar-select-form" class="d-flex align-items-center" method="POST">
      <label for="seminarSelect" class="me-2">Seminar</label>
      {% csrf_token %}
      <select name="s" class="form-select form-select-sm w-auto" id="seminarSelect">
        {% for s in seminar_items %}
        <option value="{{ s.slug }}"{% if s.selected %} selected{% endif %}>{{ s.title }}</option>
        {% endfor %}
      </select>
    </form>
  </div>
</div>
<!-- user-specific warnings -->
{% if warnings %}
<div id="user-warnings">
  {% for w in warnings %}
    <div class="alert {{ w.tags }}" role="alert">
      {% include "message_icons.html" with message=w %}
      <strong class="ps-1">{{ w.title }}</strong><br>
      {{ w.content|urlize }} <span class="small">{{ w.issue_date|date:"SHORT_DATETIME_FORMAT" }}</span>
      {% if not forloop.last %}<hr>{% endif %}
    </div>
  {% endfor %}
</div>
{% endif %}
<!-- Announcements -->
{% if announcements %}
<div id="announcements" class="alert alert-primary" role="alert">
  <h5>Ankündigungen</h5>
  {% for a in announcements %}
    <div class="announcement alert-dismissible">
      <strong>{{ a.issue_date|date:"SHORT_DATETIME_FORMAT" }}: {{ a.name }}</strong>
      <button type="button" class="btn-close announcement-dismiss" data-announcement="{{ a.id }}" aria-label="Close"></button>
      {{ a.content|linebreaks|urlize }}
      {% if not forloop.last %}<hr>{% endif %}
    </div>
  {% endfor %}
</div>
{% endif %}
<!-- Schedule and Apps -->
<div class="row mt-2">
  <div class="col-lg-8">
    <h4 id="schedule">My Schedule</h4>
    {% if event_days %}
    <div class="accordion" id="events">
      {% for day in event_days %}
        {% include 'usermgr/event_day_card.html' %}
      {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info col-lg-8" role="alert">
      You currently do not have any events in your timeline.
    </div>
    {% endif %}
  </div>
  <div class="col-lg-4 mt-4 mt-lg-0">
    <h4 id="apps">My Apps</h4>
    {% if applications %}
    <div class="list-group">
      {% for app in applications %}
        {% if app.available %}
          <a class="list-group-item list-group-item-action" href="{{ app.app_menu_url }}" target="_blank">{{ app.name }}</a>
        {% else %}
          <div class="list-group-item list-group-item-secondary text-muted" title="Diese App ist gerade im Wartungsmodus" data-bs-toggle="tooltip" data-bs-placement="left">{{ app.name }}<i class="ps-3 fa fa-wrench"></i></div>
        {% endif %}
      {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-secondary">
      No apps are available at this time.
    </div>
    {% endif %}
    <h4 id="meetings" class="mt-4">Open Rooms</h4>
    <div class="d-grid gap-2">
    {% for m in meetings %}
      {% bbbbutton m user %}
    {% empty %}
      <div class="alert alert-secondary">
        No rooms are available at this time.
      </div>
    {% endfor %}
    </div>
  </div>
</div>
<!-- Seminar Description -->
<div class="row mt-4">
  <div class="col-lg-8">
    <h4 id="seminar-about">About this Seminar</h4>
    {{ seminar.description|linebreaks }}
  </div>
  <div class="col-lg-4 mt-lg-5 ps-lg-5 text-muted">{# TODO fix top margin #}
    <p>Available since: {{ seminar.access_opens|date:"DATETIME_FORMAT" }}</p>
    <p>Start: {{ seminar.start_date|date:"DATETIME_FORMAT" }}</p>
    <p>End: {{ seminar.end_date|date:"DATETIME_FORMAT" }}</p>
    <p>Available until: {{ seminar.access_closes|date:"DATETIME_FORMAT" }}</p>
  </div>
</div>
<!-- Workgroup Details -->
<div class="row mt-2">
  {% if workgroups %}
  <div class="col-sm-12">
    <h4 id="workgroups-about">My Project Groups</h4>
    <div class="accordion" id="workgroups">
      {% for w in workgroups %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ w.slug }}">
          <button class="accordion-button{% if not forloop.first %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ws-{{ w.slug }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse-ws-{{ w.slug }}">
            {{ w.name }}
          </button>
        </h2>
        <div id="collapse-ws-{{ w.slug }}" class="accordion-collapse collapse{% if forloop.first %} show{% endif %}" aria-labelledby="heading-{{ w.slug }}" data-bs-parent="#workgroups">
          <div class="accordion-body">
            {{ w.description|linebreaks }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="alert alert-danger col-sm-12" role="alert">
    Error: You have not been assigned a project group yet for this seminar!
  </div>
  {% endif %}
</div>

{% else %}
<div class="row mt-2">
  <div class="col-sm-12">
    <div class="alert alert-danger" role="alert">
      <p>Currently there are no seminars available for you.</p>
      {% if future_seminars %}
      <hr>
      <p class="mb-0">
      You are registered for the following seminars, which are not yet released:
      <ul>
        {% for s in future_seminars %}
        <li>{{ s }}</li>
        {% endfor %}
      </ul>
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% endblock %}

{% block auxscript %}
{{ block.super }}
{% include 'usermgr/external_link_modal.html' with modal_id="disclaimerModal" modal_link="#" %}
<!-- Scripts -->
<script src="{% static 'js/cookie.js' %}"></script>
<script src="{% static 'usermgr/js/overview.js' %}"></script>
{% endblock %}
