{% extends "base.html" %}
{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'usermgr/css/claim.css' %}">

{% endblock %}

{% block bodyattrs %}class="text-center pt-sm-4 pb-sm-4"{% endblock %}

{% block content %}
<form method="post" class="form-signup centerbox d-grid">
  {% csrf_token %}
  <img class="mb-4 mx-auto" src="{% static 'img/logo.png' %}" alt="" width="300" height="43">
  <h1 class="h3 mb-3 lead">Please enter your new password</h1>
  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    {{ form.errors }}
  </div>
  {% endif %}
  <div class="mb-3 text-start">
    <label class="form-label" for="password">Password</label>
    <input type="password" class="form-control" name="{{ form.new_password1.html_name }}" id="password" required>
    <div class="small mt-3">
      {{ passwd_rules }}
    </div>
    <label class="form-label" for="password_check">Password (repeat)</label>
    <input type="password" class="form-control" name="{{ form.new_password2.html_name }}" id="password_check" required>
    <div class="invalid-feedback">Passwords need to match</div>
  </div>
  <button type="submit" class="btn btn-primary">Set new password</button>
</form>
{% endblock %}

{% block auxscript %}
<script src="{% static 'usermgr/js/pw_validate.js' %}"></script>
{% endblock %}
