{% extends "mainpage.html" %}
{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static %}

{% block title %}{{ BRAND }} - Einstellungen{% endblock %}

{% block nav %}
<ul class="nav flex-column" id="sidenav-content">
  <li class="nav-item"><a class="nav-link" href="#list-item-1">My Profile</a></li>
  <li class="nav-item"><a class="nav-link" href="#list-item-2">Change Password</a></li>
  <li class="nav-item"><a class="nav-link" href="#list-item-3">Manage Project Groups</a></li>
  <li class="nav-item"><a class="nav-link" href="#list-item-4">Delete Account</a></li>
</ul>
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-lg-6">
    <h4 id="list-item-1">My Profile</h4>
    <form method="post" action="{% url 'account_settings' %}">
      {% if profile_form.errors %}
      <div class="alert alert-danger" role="alert">
        {{ profile_form.errors }}
      </div>
      {% endif %}
      {% csrf_token %}
      <input type="hidden" id="form-type" name="form" value="{{ profile_form.prefix }}">
      <div class="mb-3">
        <label class="form-label" for="givenname">First Name</label>
        <input class="form-control" id="givenname" maxlength="80" name="{{ profile_form.given_name.html_name }}" type="text" autocomplete="username" required autofocus value="{{ profile_form.given_name.value }}" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="surname">Last Name</label>
        <input class="form-control" id="surname" maxlength="80" name="{{ profile_form.surname.html_name }}" type="text" autocomplete="username" required value="{{ profile_form.surname.value }}" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" readonly value="{{ user.get_username }}">
      </div>
      <div class="mb-3">
        <label class="form-label" for="surname">E-Mail Address</label>
        <input class="form-control" id="email" maxlength="80" name="{{ profile_form.email.html_name }}" type="email" autocomplete="email" required value="{{ profile_form.email.value }}" />
      </div>
      <button type="submit" name="{{ profile_form.prefix }}" class="btn btn-primary">Update Profile</button>
    </form>
  </div>
</div>
<div class="row mt-4">
  <div class="col-lg-6">
    <h4 id="list-item-2">Change Password</h4>
    <form method="post" action="{% url 'account_settings' %}">
      {% if pwchange_form.errors %}
      <div class="alert alert-danger" role="alert">
        {{ pwchange_form.errors }}
      </div>
      {% endif %}
      {% csrf_token %}
      <input type="hidden" id="form-type" name="form" value="{{ pwchange_form.prefix }}">
      <div class="mb-3">
        <label class="form-label" for="password_current">Current Password</label>
        <input type="password" class="form-control" name="{{ pwchange_form.old_password.html_name }}" id="password_current" autocomplete="current-password" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">New Password</label>
        <input type="password" class="form-control" name="{{ pwchange_form.password.html_name }}" id="password" autocomplete="new-password" required>
        <div class="small mt-3">
          {{ passwd_rules }}
        </div>
        <label class="form-label" for="password_check">New Password (repeat)</label>
        <input type="password" class="form-control" name="{{ pwchange_form.password_check.html_name }}" id="password_check" autocomplete="new-password" required>
        <div class="invalid-feedback">Passwords have to match</div>
      </div>
      <button type="submit" name="{{ pwchange_form.prefix }}" class="btn btn-primary">Set New Password</button>
    </form>
  </div>
</div>
<div class="row mt-4">
  <div class="col-lg-6">
    <h4 id="list-item-3">Manage Project Groups</h4>
    <p>Here you can withdraw from your current and future project groups and seminars.</p>
    {% if seminar_items %}
    <form method="post" action="{% url 'account_settings' %}">
      {% csrf_token %}
      <input type="hidden" id="form-type" name="extra_post" value="workgroupmanage">
      {% for s in seminar_items %}
      <div class="card seminar-card">
        <div class="card-header py-3 fw-bold">
          {{ s.title }}{% if s.running %} <span class="badge bg-info ms-2">Current Event</span>{% endif %}
        </div>
        <ul class="list-group list-group-flush">
          {% for w in s.workgroups %}
          <li class="list-group-item d-flex flex-column flex-sm-row justify-content-between align-items-center">
            <div class="pb-2 pb-sm-0">{{ w.title }}{% if w.size_limited %}<br><span class="text-muted small">{{ w.participant_count }} von {{ w.participant_limit }} Plätzen belegt</span>{% endif %}</div>
            {% if w.user_is_member %}
              {% if w.user_can_leave %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#joinModal" data-workgroup="{{ w.title }}" name="leave" value="{{ w.slug }}" class="btn btn-outline-danger">Leave</button>
              {% else %}
                <button type="button" class="btn btn-outline-danger" disabled>Leaving only possible through moderator</button>
              {% endif %}
            {% else %}
              {% if w.user_can_join %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#joinModal" data-workgroup="{{ w.title }}" name="join" value="{{ w.slug }}" class="btn btn-outline-success">Join</button>
              {% else %}
                <button type="button" class="btn btn-outline-success" disabled>{% if w.full %}No spots left{% else %}Joining only possible through moderator{% endif %}</button>
              {% endif %}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    {% else %}
    <div class="alert alert-warning" role="alert">
      There are currently no seminars available for you.
    </div>
    {% endif %}
    </form>
  </div>
</div>
<div class="row mt-4">
  <div class="col-lg-6">
    <h4 id="list-item-4">Delete Account</h4>
    <p>If you no longer wish to use your account, you can delete it here.</p>
    <p><strong>Attention!</strong> This action cannot be undone.</p>
    {% if user.is_staff %}
    <div class="alert alert-warning" role="alert">
      Users with Moderator or Administrator permissions cannot be deleted until they have relinquished those permissions. Contact a super admin.
    </div>
    {% endif %}
    <a class="btn btn-danger{% if user.is_staff %} disabled" href="#{% else %}" href="{% url 'delete_account' %}{% endif %}">Delete My Account</a>
  </div>
</div>
{% endblock %}

{% block auxscript %}
{{ block.super }}
{% include 'usermgr/join_workgroup_modal.html' with modal_id="joinModal" %}
<!-- Scripts -->
<script src="{% static 'usermgr/js/settings_modal.js' %}"></script>

{% endblock %}
