{% extends "base.html" %}
{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static %}

{% block title %}{{ BRAND }} - Terms and Conditions{% endblock %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% endblock %}

{% block content %}

<header class="sticky-top">
  <!-- Fixed navbar -->
  {% include "navbar.html" %}
</header>
<div class="container-fluid">
  <div class="row justify-content-md-center mt-5">
    <div class="col-md-9 col-lg-7">
      <main role="main">
        <h3>Terms and Conditions</h3>
        <p>If you see this, please ask your admin to set up this page.</p>
      </main>
    </div>
  </div>
</div>

{% endblock %}
