{% extends 'admin/base.html' %}
{% comment %}
    Copyright (C) 2022 AgoraSMP Team

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, version 3.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% comment %}Override for Jazzmin since we use the Bootstrap alert tags
directly, so the tag translation that Jazzmin wants to do breaks the framework.
{% endcomment %}
{% block messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {% include "message_icons.html" %}
            {{ message|capfirst }}
        </div>
    {% endfor %}
{% endblock messages %}
