{% comment %}
    Copyright (C) 2022 AgoraSMP Team

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, version 3.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}{% load static %}{# DO NOT move DOCTYPE on a new line! #}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'thirdparty/bootstrap-5.1.1-dist/css/bootstrap.min.css' %}" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU">
<link rel="stylesheet" type="text/css" href="{% static 'thirdparty/fontawesome-free-5.15.1-web/css/all.css' %}" integrity="sha384-onlHyXkx02a/ZTmCZVUQDO+4JnJwhOvHXBLvN1aal24ABfJ0VDUt7RyzsmpPswfe">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="fluid-icon" href="{% static 'img/apple-touch-icon.png' %}"/>
{% block style %}{% endblock %}
{% block script %} {% endblock %}
</head>
<body {% block bodyattrs %}{% endblock %} >
{% block content %}{% endblock %}
<script src="{% static 'thirdparty/bootstrap-5.1.1-dist/js/bootstrap.bundle.min.js' %}" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"></script>
{% block auxscript %}{% endblock %}
</body>
</html>
