{% extends "base.html" %}
{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static %}

{% block style %}

{# TODO refactor this and the claim_success.html template into generic templates #}

<link rel="stylesheet" type="text/css" href="{% static 'usermgr/css/claim.css' %}">

{% endblock %}

{% block bodyattrs %}class="text-center pt-sm-4 pb-sm-4"{% endblock %}

{% block content %}

<div class="centerbox border rounded">
  <a href="{% url 'index' %}"><img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="300" height="43"></a>
  <div class="alert alert-danger" role="alert">
    {% block message %}
    {% endblock %}
  </div>
  <p class="mb-3 text-muted"><a href="{% url 'index' %}">To the homepage</a></p>
</div>

{% endblock %}
