{% extends "base.html" %}
{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static %}

{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% endblock %}

{% block bodyattrs %}data-bs-spy="scroll" data-bs-target="#sidenav-content" data-bs-offset="80"{% endblock %}

{% block content %}

<header class="sticky-top">
  {% include "navbar.html" %}
</header>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-md-3 col-xl-2 sticky-top sidenav d-none d-md-flex flex-column">
      <nav aria-label="Main navigation" class="pt-sm-4">
        {% block nav %}{% endblock %}
      </nav>
      <div class="mt-auto">
        {% for item in footer_items %}
        <a class="nav-link" href="{% if item.active %}#{% else %}{{ item.url }}{% endif %}"><small>{{ item.title }}</small></a>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-9 col-xl-10 py-3 ps-md-5">
      <main role="main">
        {% if messages %}
        <div class="row">
            <div class="col-sm-12">
              {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% include "message_icons.html" %}
                {{ message }}
              </div>
              {% endfor %}
          </div>
        </div>
        {% endif %}
        {% block main %}{% endblock %}
      </main>
      <div class="d-md-none mx-auto text-center">
        {% for item in footer_items %}
        <a class="nav-link" href="{% if item.active %}#{% else %}{{ item.url }}{% endif %}"><small>{{ item.title }}</small></a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block auxscript %}
<script src="{% static 'js/scrollspy.js' %}"></script>
<script src="{% static 'js/tooltip.js' %}"></script>
{% endblock %}
