{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
<!-- Modal -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ modal_id }}Label">{% block modal_heading %}{% endblock %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% block modal_body %}{% endblock %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% block modal_cancel %}Cancel{% endblock %}</button>
        {% if modal_link %}<a role="button" class="btn btn-primary" href="{{ modal_link }}">{% else %}<button type="button" class="btn btn-primary">{% endif %}
        {% block modal_confirm %}Confirm{% endblock %}
        {% if modal_link %}</a>{% else %}</button>{% endif %}
        {% block modal_extrabuttons %}{% endblock modal_extrabuttons %}
      </div>
    </div>
  </div>
</div>
