{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load static %}

<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/icon.svg' %}" width="30" height="30" alt="" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto">
          {% for item in navbar_items %}
          <li class="nav-item"{% if item.active %} aria-current="page"{% endif %}>
            <a class="nav-link{% if item.active %} active{% endif %}" href="{% if item.active %}#{% else %}{{ item.url }}{% endif %}">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
          <li class="nav-item ms-md-auto dropdown force-active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.get_username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              {% if not constrain %}
              <li><a class="dropdown-item" href="{% url 'account_settings' %}">Settings</a></li>
              <li><a class="dropdown-item" href="{% url 'account_settings' %}#list-item-3">Manage Project Groups</a></li>
              {% if user.is_staff %}
              <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Interface</a></li>
              {% endif %}
              <li><hr class="dropdown-divider"></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a></li>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>